//- Create / edit a team.
extends ../layout

block content
  include adminnav
  - var action = isNew ? '/admin/teams/new' : '/admin/teams/' + encodeURIComponent(team.key)
  form.pad2(method="POST", action=action)
    input(type="hidden", name="_csrf", value=csrfToken)
    h2= title
    if isNew
      .row
        label.lbl.vgi-org Key (optional):
        input.txt(name="key", type="text", placeholder="derived from name if blank")
    else
      .row
        label.lbl.vgi-org Key:
        tt= team.key
    .row
      label.lbl.vgi-org Name:
      input.txt(name="name", type="text", value=team.name)
    .gap
      button.btn.sfe(type="submit") Save team
      a.fbn.vgi-undo(href="/admin/teams") Cancel
