//- Copyright (c) 2017 Chandan B N. All rights reserved.

extends ../layout

block content
  .card
    .entry
        .cardtitle= title
    .entry
      label Name:
      tt=profile.name
    .entry
      label Email:
      tt=profile.email
    .entry
      label Favorite Emoji:
      tt=profile.emoji
    .entry
      label Username:
      tt=profile.username
    .entry
      label Teams:
      tt
        if profile.teams && profile.teams.length
          = profile.teams.map(function(t){return t.team + ' (' + (t.roles||[]).join(', ') + ')';}).join('; ')
        else
          | (no team)
    .entry
      label Instance role:
      span
        if profile.instanceRoles && profile.instanceRoles.indexOf('InstanceAdmin') >= 0
            | Instance Administrator
        else
            | Member
    .entry
        div.center
            a.user(href="/users/list") User list